@font-face {
        font-family: "Blue_Fonts_Sans";
        src: url('Blue.ttf') format('truetype'),
             url('Blue.otf') format('opentype');
        
  
      

}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.titol{
    font-family: sans-serif;
    text-align: center;
    
}
.atitol{
    margin-top: 0.1px;
    background: rgb(0, 100, 300);
    
}
.subtitol{
    text-align: center;
    

}

.separador{
    background: black;
    padding-top: 5px;
    padding-left: 100px;
    margin-top: 5px;
}




.nave {
    padding-left: 48%;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
    cursor: pointer;
}

.boto {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 40%;
    border-radius: 30%;
}

.boto:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 30%;
}

.tipos{
    
    font-family: cursive;
    padding-bottom: 500px;

}
.video{
    
    font-family: cursive;
    padding-bottom: 500px;

}
h4{
    font-family: "Blue_Fonts_Sans";
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.tiph{
    position: relative;
    top: 250px;
    text-align: center;
}
.vidh{
    position: relative;
    top: 250px;
}