*{
    margin: 0px;
    padding: 0px;
}
.titol{
    font-family: sans-serif;
    text-align: center;
    
}
.atitol{
    margin-top: 0.1px;
    background: rgb(0, 100, 300);
    
}
.subtitol{
    text-align: center;

}
nav{
    background: rgb(1000, 1000, 1000);
	color: black;
	font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
	
}
li{
    list-style: none;
	
	font: bold 14px verdana;
	display: inline-block;
    padding: 10px
}
.lii1{
    margin-left: 10px;
}
.lii2{
    margin-left: 500px;
}
.lii3{
    margin-left: 500px;
}